[submodule "Libraries/SDL2-CS"]
	path = Libraries/SDL2-CS
	url = https://github.com/flibitijibibo/SDL2-CS.git
[submodule "Libraries/libfcf"]
	path = Libraries/libfcf
	url = https://github.com/shykeiichi/libfcf
